/* Global */
body {
	background-color: #010409;
	color: #cfdae5;
	font-family: monospace;
	font-size: 15px;
	margin: 0;
}

footer {
	margin: 0;
	padding: 0;
	background-color: #161b21;
	text-align: center;
}

footer * {
	display: inline-block;
}

footer a {
	color: rgb(127, 178, 255);
}

ul {
	padding: 0;
}

/* Animations */
@keyframes close_sidebar {
	0% {
		width: 20%;
	}
	100% {
	  width: 0%;
	}
  }
@keyframes open_sidebar {
	0% {
		width: 0%;
	}
	100% {
		width: 20%;
	}
}

/* Classes */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}


/* Top Navbar */
div.fulltopbar {
	position: fixed;
  	top: 0;
	background-color: #161b21;
	width: 100%;
	padding: 0;
	padding-top: 10px;
	display: flex;
	z-index: 1;
}

div.fulltopbar::after {
	content: '';
	height: 1px;
	width: 100%;
	background: #333;
	position: absolute;
	left: 0;
	bottom: 0;
}

div.topbar {
	position: relative;
	width: 55%;
}

#logo {
	height: 100%;
	float: left;
}

#logo img {
	height: 100%;
	width: auto;
	cursor: pointer;
}

div.logobar {
	position: absolute;
	height: 100%;
	float: left;
	width: auto;
}

div.navbar {
	height: 100%;
	float: right;
}

#welcome {
	float: right;
	position: relative;
	height: 100%;
	width: auto;
}

#welcome_text {
	position: relative;
	top: 25%;
	margin: 0;
	border-radius: 5px;
	border: 2px solid purple;
}

div.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 8px;
	position: relative;
	right: 10%;
}

div.navbar ul li a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s;
}

div.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: purple;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.2s;
}

div.navbar ul li:hover::after {
	width: 100%;
}

div.navbar ul li.active::after {
	width: 100%;
}

div.navbar ul li a:hover {
	color: #c8c;
}

/* Sidebar */
#fullsidebar {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #0d1017;
	width: 0%;
	height: 110%;
	padding: 0;
	margin-top: 50px;
	display: flex;
	z-index: 0;
	padding: 3% 0;
}

#fullsidebar::after {
	content: '';
	height: 100%;
	width: 1px;
	background: #222;
	position: absolute;
	left: 0;
	bottom: 0;
}

#sidebar {
	position: absolute;
	width: 100%;
	height: 100%;
}

#sidebar ul li {
	list-style: none;
	border-bottom: 1px solid #333;
	padding: 10px;
}

#sidebar ul li a {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}

#sidebar ul li:hover {
	background-color: purple;
}

/* Sidebar button */
#sidebar_button {
	filter: opacity(50%);
}

#sidebar_button:hover {
	filter: opacity(100%);
}

#sidebar_button:hover ~ #content {
	background-color: red;
}

/* Content */
#content {
	background-color: #0d1017;
	position: static;
	height: 100%;
	width: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 3%;
	text-align: left;
	z-index: -1;
}

#content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

/* for mobile devices */
@media (max-width: 1000px) {
    .pc_only {
        display:none;
    }
	div.topbar {
		width: 83%;
	}
	#content {
		width: 80%;
	}
}